
// Editor in a panel

// TODO: Find a better selector, maybe a new class like atom-text-editor[medium]
atom-panel-container atom-text-editor.is-focused {
  .focus();
}

atom-text-editor {
  .bracket-matcher .region {
    background-color: fade(@accent-color, 60%);
    border: 0.5px solid fade(@accent-color, 70%);
    border-radius: 2px;
    padding: 5px;
    margin-left: -2px;
  }
  .indent-guide {
    box-shadow: none !important;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0px;
      left: 3px;
      width: 0px;
      height: 100%;
      border-left: 1px dashed rgba(255,255,255,.15);
    }
  }
}

// Mini
// Usually just single line inputs

atom-text-editor[mini] {
  overflow: auto;
  font-size: @ui-input-size;
  line-height: @ui-line-height;
  max-height: @ui-line-height * 5; // rows
  padding-left: @ui-padding/3;
  border-radius: @component-border-radius;
  color: @text-color-highlight;
  box-shadow: 0 0 0 0.05rem @input-border-color inset;
  background-color: @input-background-color;
  .placeholder-text {
    color: @text-color-subtle;
  }
  .selection {
    .region {
      background-color: @input-selection-color;
    }
  }
  .cursor {
    border-color: @accent-color;
    border-width: 3px;
  }
  &.is-focused {
    .focus();
    background-color: @input-background-color-focus;
    .selection .region {
      background-color: @input-selection-color-focus;
    }
  }
}
