.fileIconImage(@fileType: '', @extension: 'svg') {
  background-image: url('atom://xatom/icons/type/@{fileType}.@{extension}'),
                    url("atom://xatom/icons/file.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fileIconContainer(@size) {
  font-family: initial;
  content: ' '!important;
  vertical-align: baseline;
  width: 20px;
  height: @size!important;
  top: (100%-@size)/2;
  bottom: (100%-@size)/2;
  margin-left: -23px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.fileIconFromExtension(@extension: '', @fileType: @extension) {
  &[data-name$='.@{extension}']::before {
    .fileIconImage(@fileType);
  }
}

.fileIcon (@size: 86%) {
  position: relative;
  padding-left: 23px!important;
  &::before {
    .fileIconContainer(@size);
    // -webkit-filter: grayscale(80%);
  }
  &.icon-file-directory::before {
    background-image: url("atom://xatom/icons/folder.svg");
  }
  &.icon-repo::before {
    background-image: url("atom://xatom/icons/project.svg");
  }
  &.icon-file-text::before {
    .fileIconImage('text');
  }
  &.icon-file-media::before {
    .fileIconImage('media');
  }
  .fileIconFromExtension('png', 'media');
  .fileIconFromExtension('jpg', 'media');
  .fileIconFromExtension('jpeg', 'media');
  .fileIconFromExtension('svg', 'media');
  .fileIconFromExtension('md', 'markdown');
  .fileIconFromExtension('swift');
  .fileIconFromExtension('rb', 'ruby');
  .fileIconFromExtension('py', 'python');
  .fileIconFromExtension('go', 'gopher');
  .fileIconFromExtension('java');
  .fileIconFromExtension('pdf');
  .fileIconFromExtension('html');
  .fileIconFromExtension('jade');
  .fileIconFromExtension('pug', 'jade');
  .fileIconFromExtension('css');
  .fileIconFromExtension('less');
  .fileIconFromExtension('sass');
  .fileIconFromExtension('scss', 'sass');
  .fileIconFromExtension('styl', 'stylus');
  .fileIconFromExtension('php');
  .fileIconFromExtension('json');
  .fileIconFromExtension('sketch');
  .fileIconFromExtension('coffee', 'coffeescript');
  .fileIconFromExtension('js', 'javascript');
  .fileIconFromExtension('ts', 'typescript');
}
